repos:
-   repo: https://github.com/psf/black
    rev: 21.6b0
    hooks:
    -   id: black
        files: '^blockapi/'
-   repo: https://github.com/PyCQA/isort
    rev: 5.9.1
    hooks:
    -   id: isort
        files: '^blockapi/'