interactions:
  - request:
      body: '{"jsonrpc": "2.0", "id": 1, "method": "getBalance", "params": ["31dpiondDhZaqK23Re8kzkhY6CFEG9ZTQnr3shQm7g8b"]}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.mainnet-beta.solana.com/
    response:
      body:
        string: '{"jsonrpc":"2.0","result":{"context":{"slot":44965042},"value":49122280},"id":1}

        '
      headers:
        content-type:
          - application/json; charset=utf-8
      status:
        code: 200
        message: OK
  - request:
      body: '{"jsonrpc": "2.0", "id": 1, "method": "getTokenAccountsByOwner", "params":
      ["31dpiondDhZaqK23Re8kzkhY6CFEG9ZTQnr3shQm7g8b", {"programId": "TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"},
      {"encoding": "jsonParsed"}]}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.mainnet-beta.solana.com/
    response:
      body:
        string: '{"jsonrpc":"2.0","result":{"context":{"slot":44965042},"value":[{"account":{"data":{"parsed":{"info":{"isNative":false,"mint":"3JSf5tPeuscJGtaCp5giEiDhv51gQ4v3zWg8DGgyLfAB","owner":"31dpiondDhZaqK23Re8kzkhY6CFEG9ZTQnr3shQm7g8b","state":"initialized","tokenAmount":{"amount":"1000","decimals":6,"uiAmount":0.001}},"type":"account"},"program":"spl-token","space":165},"executable":false,"lamports":2039280,"owner":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","rentEpoch":105},"pubkey":"2HK3x9WRgmcmt496tP8LcMy7DL4iSsUAtEBu1ZvSbqC9"},{"account":{"data":{"parsed":{"info":{"isNative":false,"mint":"BQcdHdAQW1hczDbBi9hiegXAR7A98Q9jx3X3iBBBDiq4","owner":"31dpiondDhZaqK23Re8kzkhY6CFEG9ZTQnr3shQm7g8b","state":"initialized","tokenAmount":{"amount":"21177830","decimals":6,"uiAmount":21.17783}},"type":"account"},"program":"spl-token","space":165},"executable":false,"lamports":2039280,"owner":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","rentEpoch":104},"pubkey":"DjRpQWbVHiKTM9DoTDZqTtWfq85dsfbSVPCVHw9oxbeC"}]},"id":1}

        '
      headers:
        content-type:
          - application/json; charset=utf-8
      status:
        code: 200
        message: OK
version: 1
