interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fcd.terra.dev/v1/staking/terra1vw96exejy03w7n2jt8t3qv392f3lqtvmv53720
  response:
    body:
      string: "{\"delegationTotal\":\"33840000000\",\"undelegations\":[],\"rewards\":{\"total\":\"165668184.79142569463967768444\",\"denoms\":[{\"denom\":\"uluna\",\"amount\":\"392960\"},{\"denom\":\"ukrw\",\"amount\":\"45499019108\"},{\"denom\":\"usdr\",\"amount\":\"6217\"},{\"denom\":\"umnt\",\"amount\":\"95774333\"}]},\"validators\":[{\"operatorAddress\":\"terravaloper15zcjduavxc5mkp8qcqs9eyhwlqwdlrzy6jln3m\",\"consensusPubkey\":\"terravalconspub1zcjduepq0p6stylupjtry0m9e0wks706yswe7t4p5z5yvas0pkhng64u5mrqx5zw8c\",\"tokens\":\"38771592681490.0000000000\",\"delegatorShares\":\"38771592681490.0000000000\",\"upTime\":0.9999,\"status\":\"active\",\"accountAddress\":\"terra15zcjduavxc5mkp8qcqs9eyhwlqwdlrzy6anwpg\",\"description\":{\"identity\":\"8957C5091FBF4192\",\"moniker\":\"B-Harvest\",\"website\":\"bharvest.io\",\"details\":\"\",\"profileIcon\":\"https://s3.amazonaws.com/keybase_processed_uploads/4573480232888cf3b1be31bdfe699205_360_360.jpg\"},\"votingPower\":{\"amount\":\"38771592000000.0000000000\",\"weight\":\"0.1275319228\"},\"commissionInfo\":{\"rate\":\"0.0100000000\",\"maxRate\":\"0.3000000000\",\"maxChangeRate\":\"0.0100000000\",\"updateTime\":\"2020-06-10T04:01:23.333Z\"},\"rewardsPool\":{\"total\":\"1214747644581.6233188649\",\"denoms\":[{\"denom\":\"uluna\",\"amount\":\"24232963518.107181974903482178\",\"adjustedAmount\":\"24232963518.107181974903482178\"},{\"denom\":\"ukrw\",\"amount\":\"327818703099013.057090845284798477\",\"adjustedAmount\":\"1189472797891.91965562715995935587\"},{\"denom\":\"usdr\",\"amount\":\"72840766.968781306821539907\",\"adjustedAmount\":\"441977243.05196209179591408181\"},{\"denom\":\"uusd\",\"amount\":\"3448715.694308372886765907\",\"adjustedAmount\":\"15058541.63319331430978390292\"},{\"denom\":\"umnt\",\"amount\":\"379890225444.494129820662329525\",\"adjustedAmount\":\"584847386.91132585673414371762\"}]},\"selfDelegation\":{\"amount\":\"12910000000.0000000000\",\"weight\":\"0.0003329757\"},\"stakingReturn\":\"0.15220675675604265160\",\"isNewValidator\":false,\"myUndelegation\":[]},{\"operatorAddress\":\"terravaloper1p54hc4yy2ajg67j645dn73w3378j6k05vmx9r9\",\"consensusPubkey\":\"terravalconspub1zcjduepqqhddjnl8uyudw6qkdtqachp9eexgxuexk0g7y86swg6mhxx8fklqmruxaj\",\"tokens\":\"35253390017052.0000000000\",\"delegatorShares\":\"35256915708448.9397392062\",\"upTime\":0.9999,\"status\":\"active\",\"accountAddress\":\"terra1p54hc4yy2ajg67j645dn73w3378j6k05v52cnk\",\"description\":{\"identity\":\"\",\"moniker\":\"hashed\",\"website\":\"\",\"details\":\"\",\"profileIcon\":\"\"}[...]
