interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fcd.terra.dev/v1/staking/terra1vw96exejy03w7n2jt8t3qv392f3lqtvmv53720
  response:
    body:
      string: "{\"delegationTotal\":\"34629623451\",\"undelegations\":[],\"rewards\"\
        :{\"total\":\"792882090.42555247628323349208\",\"denoms\":[{\"denom\":\"uluna\"\
        ,\"amount\":\"1519092\"},{\"denom\":\"ukrw\",\"amount\":\"283964415270\"},{\"\
        denom\":\"usdr\",\"amount\":\"5702\"},{\"denom\":\"uusd\",\"amount\":\"7179\"\
        },{\"denom\":\"umnt\",\"amount\":\"295594313\"}]},\"validators\":[{\"operatorAddress\"\
        :\"terravaloper1p54hc4yy2ajg67j645dn73w3378j6k05vmx9r9\",\"consensusPubkey\"\
        :\"terravalconspub1zcjduepqqhddjnl8uyudw6qkdtqachp9eexgxuexk0g7y86swg6mhxx8fklqmruxaj\"\
        ,\"tokens\":\"33644464847321.0000000000\",\"delegatorShares\":\"33647829630083.5955675873\"\
        ,\"upTime\":1,\"status\":\"active\",\"accountAddress\":\"terra1p54hc4yy2ajg67j645dn73w3378j6k05v52cnk\"\
        ,\"description\":{\"identity\":\"\",\"moniker\":\"hashed\",\"website\":\"\"\
        ,\"details\":\"\",\"profileIcon\":\"\"},\"votingPower\":{\"amount\":\"33644464000000.0000000000\"\
        ,\"weight\":\"0.1176452887\"},\"commissionInfo\":{\"rate\":\"0.1000000000\"\
        ,\"maxRate\":\"0.2000000000\",\"maxChangeRate\":\"0.0100000000\",\"updateTime\"\
        :\"2019-04-24T06:00:00.000Z\"},\"rewardsPool\":{\"total\":\"134904553864.6101861382\"\
        ,\"denoms\":[{\"denom\":\"uluna\",\"amount\":\"334144089.612326785441486614\"\
        ,\"adjustedAmount\":\"334144089.612326785441486614\"},{\"denom\":\"ukrw\"\
        ,\"amount\":\"48281078049516.335696017837938642\",\"adjustedAmount\":\"134487682589.18199358222238980123\"\
        },{\"denom\":\"usdr\",\"amount\":\"995000.510815764685017294\",\"adjustedAmount\"\
        :\"4461638.59248558538586042278\"},{\"denom\":\"uusd\",\"amount\":\"1216927.961407699909768759\"\
        ,\"adjustedAmount\":\"3851932.47302118854314196458\"},{\"denom\":\"umnt\"\
        ,\"amount\":\"67163320946.755167651502975380\",\"adjustedAmount\":\"74413614.75035899660729149976\"\
        }]},\"selfDelegation\":{\"amount\":\"27002700269928.0051247978\",\"weight\"\
        :\"0.8025094209\"},\"stakingReturn\":\"0.28010101443270327857000000000000\"\
        ,\"isNewValidator\":false,\"myUndelegation\":[]},{\"operatorAddress\":\"terravaloper15zcjduavxc5mkp8qcqs9eyhwlqwdlrzy6jln3m\"\
        ,\"consensusPubkey\":\"terravalconspub1zcjduepq0p6stylupjtry0m9e0wks706yswe7t4p5z5yvas0pkhng64u5mrqx5zw8c\"\
        ,\"tokens\":\"31273649976469.0000000000\",\"delegatorShares\":\"31273649976469.0000000000\"\
        ,\"upTime\":1,\"status\":\"active\",\"accountAddress\":\"terra15zcjduavxc5mkp8qcqs9eyhwlqwdlrzy6anwpg\"\
        ,\"description\":{\"identity\":\"8957C5091FBF4192\",\"moniker\":\"B-Harvest\"\
        ,\"website\":\"bharvest.io\",\"details\":\"\",\"profileIcon\":\"https://s3.amazonaws.com/keybase_processed_uploads/4573480232888cf3b1be31bdfe699205_360_360.jpg\"\
        },\"votingPower\":{\"amount\":\"31273649000000.0000000000\",\"weight\":\"\
        0.1093552111\"},\"commissionInfo\":{\"rate\":\"0.0200000000\",\"maxRate\"\
        :\"0.3000000000\",\"maxChangeRate\":\"0.0100000000\",\"updateTime\":\"2020-07-22T05:40:55.653Z\"\
        },\"rewardsPool\":{\"total\":\"456703469143.2426309659\",\"denoms\":[{\"denom\"\
        :\"uluna\",\"amount\":\"970329869.876693798101122015\",\"adjustedAmount\"\
        :\"970329869.876693798101122015\"},{\"denom\":\"ukrw\",\"amount\":\"163524535735077.720940415328275035\"\
        ,\"adjustedAmount\":\"455500099540.60646501508447987475\"},{\"denom\":\"usdr\"\
        ,\"amount\":\"3464915.589112674441126552\",\"adjustedAmount\":\"15536877.563425168158452[...]
