interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fcd.terra.dev/v1/txs?account=terra1vw96exejy03w7n2jt8t3qv392f3lqtvmv53720&limit=1000&page=1
  response:
    body:
      string: '{"totalCnt":5,"page":1,"limit":1000,"txs":[{"tx":{"type":"core/StdTx","value":{"fee":{"gas":"240266","amount":[{"denom":"uluna","amount":"3604"}]},"msg":[{"type":"staking/MsgDelegate","value":{"amount":{"denom":"uluna","amount":"24950000000"},"delegator_address":"terra1vw96exejy03w7n2jt8t3qv392f3lqtvmv53720","validator_address":"terravaloper1v5hrqlv8dqgzvy0pwzqzg0gxy899rm4kdur03x"}}],"memo":"","signatures":[{"pub_key":{"type":"tendermint/PubKeySecp256k1","value":"AmSNBQb/1Ayr2JJzKX7/sY9gGOaEFG6PEmupfBX0oYAO"},"signature":"lWXajMMy+/gKG1BR3vTG8Ry42C9MAEu/7oLJiyi/2gddWPRZiM29c7SDtkkQE0SZ92BJqviz2m9/q4T75oDubQ=="}]}},"logs":[{"log":{"tax":""},"events":[{"type":"delegate","attributes":[{"key":"validator","value":"terravaloper1v5hrqlv8dqgzvy0pwzqzg0gxy899rm4kdur03x"},{"key":"amount","value":"24950000000"}]},{"type":"message","attributes":[{"key":"sender","value":"terra1jv65s3grqf6v6jl3dp4t6c9t9rk99cd8pm7utl"},{"key":"module","value":"staking"},{"key":"sender","value":"terra1vw96exejy03w7n2jt8t3qv392f3lqtvmv53720"},{"key":"action","value":"delegate"}]},{"type":"transfer","attributes":[{"key":"recipient","value":"terra1vw96exejy03w7n2jt8t3qv392f3lqtvmv53720"},{"key":"amount","value":"34506650773ukrw,342233uluna,93444330umnt,6168usdr,49uusd"}]}],"success":true,"msg_index":0}],"events":[{"type":"delegate","attributes":[{"key":"validator","value":"terravaloper1v5hrqlv8dqgzvy0pwzqzg0gxy899rm4kdur03x"},{"key":"amount","value":"24950000000"}]},{"type":"message","attributes":[{"key":"sender","value":"terra1jv65s3grqf6v6jl3dp4t6c9t9rk99cd8pm7utl"},{"key":"module","value":"staking"},{"key":"sender","value":"terra1vw96exejy03w7n2jt8t3qv392f3lqtvmv53720"},{"key":"action","value":"delegate"}]},{"type":"transfer","attributes":[{"key":"recipient","value":"terra1vw96exejy03w7n2jt8t3qv392f3lqtvmv53720"},{"key":"amount","value":"34506650773ukrw,342233uluna,93444330umnt,6168usdr,49uusd"}]}],"height":"2615059","txhash":"02DD2824B30BBEB4499E7C9E947CB3E316FEC5301E92E0573C9F384BB63E9484","raw_log":"[{\"msg_index\":0,\"success\":true,\"log\":\"\",\"events\":[{\"type\":\"delegate\",\"attributes\":[{\"key\":\"validator\",\"value\":\"terravaloper1v5hrqlv8dqgzvy0pwzqzg0gxy899rm4kdur03x\"},{\"key\":\"amount\",\"value\":\"24950000000\"}]},{\"type\":\"message\",\"attributes\":[{\"key\":\"sender\",\"value\":\"terra1jv65s3grqf6v6jl3dp4t6c9t9rk99cd8pm7utl\"},{\"key\":\"module\",\"value\":\"staking\"},{\"key\":\"sender\",\"value\":\"terra1vw96exejy03w7n2jt8t3qv392f3lqtvmv53720\"},{\"key\":\"action\",\"value\":\"delegate\"}]},{\"type\":\"transfer\",\"attributes\":[{\"key\":\"recipient\",\"value\":\"terra1vw96exejy03w7n2jt8t3qv392f3lqtvmv53720\"},{\"key\":\"amount\",\"value\":\"34506650773ukrw,342233uluna,93444330umnt,6168usdr,49uusd\"}]}]}]","gas_used":"160165","timestamp":"2020-07-02T22:04:19Z","gas_wanted":"240266","chainId":"columbus-3"},{"tx":{"type":"core/StdTx","value":{"fee":{"gas":"200000","amount":[{"denom":"uluna","amount":"3000"}]},"msg":[{"type":"bank/MsgSend","value":{"amount":[{"denom":"uluna","amount":"24995000000"}],"to_address":"terra1vw96exejy03w7n2jt8t3qv392f3lqtvmv53720","from_address":"terra1fng06wwn72cuzns0ne4a2ennwaetvlytxlycad"}}],"memo":"Stepik","signatures":[{"pub_key":{"type":"tendermint/PubKeySecp256k1","value":"Agy2bUSiw+tbEnE7EmlKoXQWTK67l7XvGaUo6eMRN8tp"},"signature":"VRiNjCf2fPUn+Pd3lG/5X0yuuRNVPJ4BJM96BQEM1kYCH3YB1I37esjAcjCezrsoBQCvK86sdj+O2iMVaN/aTA=="}]}},"logs":[{"log":{"tax":""},"events":[{"type":"message","attributes":[{"key":"sender","value":"terra1fng06wwn72cuzns0ne4a2ennwaetvlytxlycad"},{"key":"module","value":"bank"},{"key":"action","value":"send"}]},{"t[...]
