interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.dcrdata.org/api/address/DsXt3he1A9KB2uL1g3MJvbAbXEB1CxN2rNF/totals
  response:
    body:
      string: '{"address":"DsXt3he1A9KB2uL1g3MJvbAbXEB1CxN2rNF","blockhash":"00000000000000000081b3ca6f99e5c72603397e69f546d5f74263d7039bb783","blockheight":456630,"num_stxos":165,"num_utxos":2,"dcr_spent":7509.3490332,"dcr_unspent":135.0176}

'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
