interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fcd.terra.dev/v1/txs?account=terra1vw96exejy03w7n2jt8t3qv392f3lqtvmv53720&limit=100&page=1
  response:
    body:
      string: '{"totalCnt":11,"page":1,"limit":100,"txs":[{"tx":{"type":"core/StdTx","value":{"fee":{"gas":"238533","amount":[{"denom":"uluna","amount":"3578"}]},"msg":[{"type":"staking/MsgDelegate","value":{"amount":{"denom":"uluna","amount":"500000000"},"delegator_address":"terra1vw96exejy03w7n2jt8t3qv392f3lqtvmv53720","validator_address":"terravaloper1v5hrqlv8dqgzvy0pwzqzg0gxy899rm4kdur03x"}}],"memo":"","signatures":[{"pub_key":{"type":"tendermint/PubKeySecp256k1","value":"AmSNBQb/1Ayr2JJzKX7/sY9gGOaEFG6PEmupfBX0oYAO"},"signature":"aMEg/iow2OfbTeCYV+bmnNnPCYLj0tUnCrDgjlRBOV1bAA051yLc01QZ8mGBlYq/m5uppmxpvQf634gwdAzhuw=="}]}},"logs":[{"log":{"tax":""},"events":[{"type":"delegate","attributes":[{"key":"validator","value":"terravaloper1v5hrqlv8dqgzvy0pwzqzg0gxy899rm4kdur03x"},{"key":"amount","value":"500000000"}]},{"type":"message","attributes":[{"key":"sender","value":"terra1jv65s3grqf6v6jl3dp4t6c9t9rk99cd8pm7utl"},{"key":"module","value":"staking"},{"key":"sender","value":"terra1vw96exejy03w7n2jt8t3qv392f3lqtvmv53720"},{"key":"action","value":"delegate"}]},{"type":"transfer","attributes":[{"key":"recipient","value":"terra1vw96exejy03w7n2jt8t3qv392f3lqtvmv53720"},{"key":"amount","value":"5771733ukrw,43uluna,1usdr"}]}],"success":true,"msg_index":0}],"events":[{"type":"delegate","attributes":[{"key":"validator","value":"terravaloper1v5hrqlv8dqgzvy0pwzqzg0gxy899rm4kdur03x"},{"key":"amount","value":"500000000"}]},{"type":"message","attributes":[{"key":"sender","value":"terra1jv65s3grqf6v6jl3dp4t6c9t9rk99cd8pm7utl"},{"key":"module","value":"staking"},{"key":"sender","value":"terra1vw96exejy03w7n2jt8t3qv392f3lqtvmv53720"},{"key":"action","value":"delegate"}]},{"type":"transfer","attributes":[{"key":"recipient","value":"terra1vw96exejy03w7n2jt8t3qv392f3lqtvmv53720"},{"key":"amount","value":"5771733ukrw,43uluna,1usdr"}]}],"height":"3790799","txhash":"8E1FA369E2C84284E407166A1CB5E7FFF8AED7EC33D7DE6CE93401BCF9060063","raw_log":"[{\"msg_index\":0,\"success\":true,\"log\":\"\",\"events\":[{\"type\":\"delegate\",\"attributes\":[{\"key\":\"validator\",\"value\":\"terravaloper1v5hrqlv8dqgzvy0pwzqzg0gxy899rm4kdur03x\"},{\"key\":\"amount\",\"value\":\"500000000\"}]},{\"type\":\"message\",\"attributes\":[{\"key\":\"sender\",\"value\":\"terra1jv65s3grqf6v6jl3dp4t6c9t9rk99cd8pm7utl\"},{\"key\":\"module\",\"value\":\"staking\"},{\"key\":\"sender\",\"value\":\"terra1vw96exejy03w7n2jt8t3qv392f3lqtvmv53720\"},{\"key\":\"action\",\"value\":\"delegate\"}]},{\"type\":\"transfer\",\"attributes\":[{\"key\":\"recipient\",\"value\":\"terra1vw96exejy03w7n2jt8t3qv392f3lqtvmv53720\"},{\"key\":\"amount\",\"value\":\"5771733ukrw,43uluna,1usdr\"}]}]}]","gas_used":"158939","timestamp":"2020-10-01T09:10:31Z","gas_wanted":"238533","chainId":"columbus-3"},{"tx":{"type":"core/StdTx","value":{"fee":{"gas":"158466","amount":[{"denom":"uluna","amount":"2377"}]},"msg":[{"type":"market/MsgSwap","value":{"trader":"terra1vw96exejy03w7n2jt8t3qv392f3lqtvmv53720","ask_denom":"uluna","offer_coin":{"denom":"ukrw","amount":"218373608675"}}}],"memo":"","signatures":[{"pub_key":{"type":"tendermint/PubKeySecp256k1","value":"AmSNBQb/1Ayr2JJzKX7/sY9gGOaEFG6PEmupfBX0oYAO"},"signature":"uEYOfdhEZ951xXswBOe642EznqpK13Scjpsf2WG35fkosXh222pPD++Bizz8nkSDFLhANCjrsUruBEJhcxP0EA=="}]}},"logs":[{"log":{"tax":""},"events":[{"type":"message","attributes":[{"key":"sender","value":"terra1vw96exejy03w7n2jt8t3qv392f3lqtvmv53720"},{"key":"sender","value":"terra1untf85jwv3kt0puyyc39myxjvplagr3wstgs5s"},{"key":"m[...]
