interactions:
  - request:
      body: '{"jsonrpc": "2.0", "id": 1, "method": "getConfirmedTransaction", "params":
      ["5v1yotDftqHWpgCqDuPoEMaLwyQiHaCiDZ3i2Srf31oKosDRJerk4PQpretG4HkQbWqRgfSFPLLdKi9NuyGLcqQH",
      "jsonParsed"]}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.mainnet-beta.solana.com/
    response:
      body:
        string: '{"jsonrpc":"2.0","result":{"meta":{"err":null,"fee":15000,"innerInstructions":null,"logMessages":null,"postBalances":[76667920,23302080,0,3535680,5428800,7299063360,457104960,457104960,53465302039280,2039280,10500000000,1,1688941440,1613328000,1],"preBalances":[19999985000,0,0,3535680,5428800,7299063360,457104960,457104960,53445402039280,2039280,10500000000,1,1688941440,1613328000,1],"status":{"Ok":null}},"slot":33963634,"transaction":{"message":{"accountKeys":[{"pubkey":"31dpiondDhZaqK23Re8kzkhY6CFEG9ZTQnr3shQm7g8b","signer":true,"writable":true},{"pubkey":"GsZDQyYem1QKp3aX9V8hkorCBg4HznCmRWasYsxz776D","signer":true,"writable":true},{"pubkey":"EADubetPCinNCC7TcZGLQmJtPS5EpzZoji2qZTdt1Efq","signer":true,"writable":true},{"pubkey":"8mDuvJJSgoodovMRYArtVVYBbixWYdGzR47GPrRT65YJ","signer":false,"writable":true},{"pubkey":"4uJv7yg6To4Eej2QiGJVkgV3SXs4yPAtiN8yok2vwZqv","signer":false,"writable":true},{"pubkey":"3ftYGWmtSXApHBdUhyX4nATfByMiSgLQXeWvGW4eRKWu","signer":false,"writable":true},{"pubkey":"GjRfqRUd7H9CKDqinuUcfn8m9mgWpeNskZqAjCUD1iiL","signer":false,"writable":true},{"pubkey":"Dy6x4UYyMiaCt2LaJ7jMMoP5J5X4etk21sabxCJK5jrJ","signer":false,"writable":true},{"pubkey":"2rPn2kDECLyjY5xLzZ4FqAuE27ApFa8ZpPBw48ZCo31y","signer":false,"writable":true},{"pubkey":"DBYAvdhn6g82386hEAGJq6b3ZmHvnBix6akddA2Zugbg","signer":false,"writable":true},{"pubkey":"So11111111111111111111111111111111111111112","signer":false,"writable":false},{"pubkey":"SysvarRent111111111111111111111111111111111","signer":false,"writable":false},{"pubkey":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","signer":false,"writable":false},{"pubkey":"BJ3jrUzddfuSrZHXSCxMUUQsjKEyLmuuyZebkcaFp2fg","signer":false,"writable":false},{"pubkey":"11111111111111111111111111111111","signer":false,"writable":false}],"instructions":[{"accounts":["8mDuvJJSgoodovMRYArtVVYBbixWYdGzR47GPrRT65YJ","4uJv7yg6To4Eej2QiGJVkgV3SXs4yPAtiN8yok2vwZqv","3ftYGWmtSXApHBdUhyX4nATfByMiSgLQXeWvGW4eRKWu","GjRfqRUd7H9CKDqinuUcfn8m9mgWpeNskZqAjCUD1iiL","Dy6x4UYyMiaCt2LaJ7jMMoP5J5X4etk21sabxCJK5jrJ","2rPn2kDECLyjY5xLzZ4FqAuE27ApFa8ZpPBw48ZCo31y","DBYAvdhn6g82386hEAGJq6b3ZmHvnBix6akddA2Zugbg"],"data":"1zmM9zSK","programId":"BJ3jrUzddfuSrZHXSCxMUUQsjKEyLmuuyZebkcaFp2fg"},{"parsed":{"info":{"lamports":23302080,"newAccount":"GsZDQyYem1QKp3aX9V8hkorCBg4HznCmRWasYsxz776D","owner":"BJ3jrUzddfuSrZHXSCxMUUQsjKEyLmuuyZebkcaFp2fg","source":"31dpiondDhZaqK23Re8kzkhY6CFEG9ZTQnr3shQm7g8b","space":3220},"type":"createAccount"},"program":"system","programId":"11111111111111111111111111111111"},{"parsed":{"info":{"lamports":19910000000,"newAccount":"EADubetPCinNCC7TcZGLQmJtPS5EpzZoji2qZTdt1Efq","owner":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","source":"31dpiondDhZaqK23Re8kzkhY6CFEG9ZTQnr3shQm7g8b","space":165},"type":"createAccount"},"program":"system","programId":"11111111111111111111111111111111"},{"parsed":{"info":{"account":"EADubetPCinNCC7TcZGLQmJtPS5EpzZoji2qZTdt1Efq","mint":"So11111111111111111111111111111111111111112","owner":"31dpiondDhZaqK23Re8kzkhY6CFEG9ZTQnr3shQm7g8b","rentSysvar":"SysvarRent111111111111111111111111111111111"},"type":"initializeAccount"},"program":"spl-token","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"},{"accounts":["8mDuvJJSgoodovMRYArtVVYBbixWYdGzR47GPrRT65YJ","GsZDQyYem1QKp3aX9V8hkorCBg4HznCmRWasYsxz776D","4uJv7yg6To4Eej2QiGJVkgV3SXs4yPAtiN8yok2vwZqv","EADubetPCinNCC7TcZGLQmJtPS5EpzZoji2qZTdt1Efq","31dpiondDhZaqK23Re8kzkhY6CFEG9ZTQnr3shQm7g8b","2rPn2kDECLyjY5xLzZ4FqAuE27ApFa8ZpPBw48ZCo31y","DBYAvdhn6g82386hEAGJq6b3ZmHvnBix6akddA2Zugbg","TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","SysvarRent111111111111111111111111111111111"],"data":"1SYXsB3Wd31ftpiPoMwNeNa7bSnwW7FVne5TBFtBdqjtGCrYF","programId":"BJ3jrUzddfuSrZHXSCxMUUQsjKEyLmuuyZebkcaFp2fg"},{"parsed":{"info":{"account":"EADubetPCinNCC7TcZGLQmJtPS5EpzZoji2qZTdt1Efq","destination":"31dpiondDhZaqK23Re8kzkhY6CFEG9ZTQnr3shQm7g8b","owner":"31dpiondDhZaqK23Re8kzkhY6CFEG9ZTQnr3shQm7g8b"},"type":"closeAccount"},"program":"spl-token","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"},{"accounts":["8mDuvJJSgoodovMRYArtVVYBbixWYdGzR47GPrRT65YJ","4uJv7yg6To4Eej2QiGJVkgV3SXs4yPAtiN8yok2vwZqv","3ftYGWmtSXApHBdUhyX4nATfByMiSgLQXeWvGW4eRKWu","GjRfqRUd7H9CKDqinuUcfn8m9mgWpeNskZqAjCUD1iiL","Dy6x4UYyMiaCt2LaJ7jMMoP5J5X4etk21sabxCJK5jrJ","2rPn2kDECLyjY5xLzZ4FqAuE27ApFa8ZpPBw48ZCo31y","DBYAvdhn6g82386hEAGJq6b3ZmHvnBix6akddA2Zugbg"],"data":"1zmM9zSK","programId":"BJ3jrUzddfuSrZHXSCxMUUQsjKEyLmuuyZebkcaFp2fg"}],"recentBlockhash":"D3A3yoSZm2NjmXTbKqZmgG5nZ6M4FBdPxcFiJxZqnp6h"},"signatures":["5v1yotDftqHWpgCqDuPoEMaLwyQiHaCiDZ3i2Srf31oKosDRJerk4PQpretG4HkQbWqRgfSFPLLdKi9NuyGLcqQH","4DDM6ssiryMnL52MEJWuYxMFpqDRyMUHtR9yJi6MRJZHYxegWywPz3hwfXKbooi7pvXZLFKakURFjHUryA2nYPLX","3zev2GuvWiiPgJgLTmAq7EdVa3Q4w7aEiPX5GP8MFPeMBSNNQkYXTPL3EwQNjNcRz45S9TP8cLSyFU2LQGi2M6w3"]}},"id":1}

        '
      headers:
        content-type:
          - application/json; charset=utf-8
      status:
        code: 200
        message: OK
version: 1
