interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://celestia-mainnet-api.itrocket.net/cosmos/bank/v1beta1/balances/celestia1aff76avnwpnk02wxkc6n5xnwasjkgekamaa82d
  response:
    body:
      string: '{"balances":[{"denom":"utia","amount":"356580009"}],"pagination":{"next_key":null,"total":"1"}}'
    headers:
      Content-Type:
      - application/json
      grpc-metadata-content-type:
      - application/grpc+cosmos-sdk-grpc-codec
      grpc-metadata-x-cosmos-block-height:
      - '12883846'
      x-server-time:
      - '1786085489'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://celestia-mainnet-api.itrocket.net/cosmos/staking/v1beta1/delegations/celestia1aff76avnwpnk02wxkc6n5xnwasjkgekamaa82d?pagination.limit=1000
  response:
    body:
      string: '{"delegation_responses":[],"pagination":{"next_key":null,"total":"0"}}'
    headers:
      Content-Type:
      - application/json
      grpc-metadata-content-type:
      - application/grpc+cosmos-sdk-grpc-codec
      grpc-metadata-x-cosmos-block-height:
      - '12883846'
      x-server-time:
      - '1786085489'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://celestia-mainnet-api.itrocket.net/cosmos/staking/v1beta1/delegators/celestia1aff76avnwpnk02wxkc6n5xnwasjkgekamaa82d/unbonding_delegations
  response:
    body:
      string: '{"unbonding_responses":[],"pagination":{"next_key":null,"total":"0"}}'
    headers:
      Content-Type:
      - application/json
      grpc-metadata-content-type:
      - application/grpc+cosmos-sdk-grpc-codec
      grpc-metadata-x-cosmos-block-height:
      - '12883846'
      x-server-time:
      - '1786085489'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://celestia-mainnet-api.itrocket.net/cosmos/distribution/v1beta1/delegators/celestia1aff76avnwpnk02wxkc6n5xnwasjkgekamaa82d/rewards
  response:
    body:
      string: '{"rewards":[],"total":[]}'
    headers:
      Content-Type:
      - application/json
      grpc-metadata-content-type:
      - application/grpc+cosmos-sdk-grpc-codec
      grpc-metadata-x-cosmos-block-height:
      - '12883846'
      x-server-time:
      - '1786085489'
    status:
      code: 200
      message: OK
version: 1
