interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lcd-dydx.cosmostation.io/cosmos/bank/v1beta1/balances/dydx1aff76avnwpnk02wxkc6n5xnwasjkgekarwznsh
  response:
    body:
      string: '{"balances":[{"denom":"adydx","amount":"8342195962385344539"}],"pagination":{"next_key":null,"total":"1"}}'
    headers:
      Content-Type:
      - application/json
      Grpc-Metadata-Content-Type:
      - application/grpc+cosmos-sdk-grpc-codec
      Grpc-Metadata-X-Cosmos-Block-Height:
      - '53991912'
      X-Server-Time:
      - '1756386734'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://lcd-dydx.cosmostation.io/cosmos/staking/v1beta1/delegations/dydx1aff76avnwpnk02wxkc6n5xnwasjkgekarwznsh?pagination.limit=1000
  response:
    body:
      string: '{"delegation_responses":[],"pagination":{"next_key":null,"total":"0"}}'
    headers:
      Content-Type:
      - application/json
      Grpc-Metadata-Content-Type:
      - application/grpc+cosmos-sdk-grpc-codec
      Grpc-Metadata-X-Cosmos-Block-Height:
      - '53991912'
      X-Server-Time:
      - '1756386735'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://lcd-dydx.cosmostation.io/cosmos/staking/v1beta1/delegators/dydx1aff76avnwpnk02wxkc6n5xnwasjkgekarwznsh/unbonding_delegations
  response:
    body:
      string: '{"unbonding_responses":[],"pagination":{"next_key":null,"total":"0"}}'
    headers:
      Content-Type:
      - application/json
      Grpc-Metadata-Content-Type:
      - application/grpc+cosmos-sdk-grpc-codec
      Grpc-Metadata-X-Cosmos-Block-Height:
      - '53991913'
      X-Server-Time:
      - '1756386736'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://lcd-dydx.cosmostation.io/cosmos/distribution/v1beta1/delegators/dydx1aff76avnwpnk02wxkc6n5xnwasjkgekarwznsh/rewards
  response:
    body:
      string: '{"rewards":[],"total":[]}'
    headers:
      Content-Type:
      - application/json
      Grpc-Metadata-Content-Type:
      - application/grpc+cosmos-sdk-grpc-codec
      Grpc-Metadata-X-Cosmos-Block-Height:
      - '53991914'
      X-Server-Time:
      - '1756386736'
    status:
      code: 200
      message: OK
version: 1
