interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gateway.pinata.cloud/ipfs/QmVfMPCUPs5V1omaDvoni38w8aEJpFTjEZRNRmoVyexXWe
  response:
    body:
      string: "{\n  \"name\": \"Act I : The AI Prophecy\",\n  \"symbol\": \"ACT\",\n
        \ \"image\": \"https://gateway.pinata.cloud/ipfs/QmS4m4cBjukg7YhimqhfRUb2pUE4bBPXbrbMBb5hzxNbUA\",\n
        \ \"description\": \"Act I is one of the few projects exploring how to engage
        with AI beyond a cold and damp 1-on-1 user/assistant paradigm, but as a network
        of equals\",\n  \"extensions\": {},\n  \"tags\": [\n    \"SOLANA\",\n    \"MEME\"\n
        \ ],\n  \"creator\": {}\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"QmVfMPCUPs5V1omaDvoni38w8aEJpFTjEZRNRmoVyexXWe"
      x-ipfs-path:
      - /ipfs/QmVfMPCUPs5V1omaDvoni38w8aEJpFTjEZRNRmoVyexXWe
      x-ipfs-roots:
      - QmVfMPCUPs5V1omaDvoni38w8aEJpFTjEZRNRmoVyexXWe
    status:
      code: 200
      message: OK
version: 1
